<%

response.headers.push 'Content-Type: text/plain; charset=utf-8'

%><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ERB test</title>
  </head>
  <body>
    <h1>ERB test</h1>
    <p>
      <% print "hello world!" %>
    </p>
    <p>
      Current time: <%= Time.now %>
    </p>
    <h2>Request parameters:</h2>
    <ul>
      <% request.env.each {|key,value| %>
        <li><b><%= key.xml_safe %>:</b> <%= value.xml_safe %></li>
      <% } %>
    </ul>
    <%# this is a comment line. %>
% print "this is a one liner.\n"
% ERuby.import("foo.erb")
  </body>
</html>